bin/
obj/
bin/*
obj/*
bin/Debug/net8.0/Sign-App-server
bin/Debug/net8.0/Sign-App-server.dll
bin/Debug/net8.0/Sign-App-server.pdb
obj/project.nuget.cache
obj/Debug/net8.0/apphost
obj/Debug/net8.0/Sign-App-server.AssemblyInfo.cs
obj/Debug/net8.0/Sign-App-server.AssemblyInfoInputs.cache
obj/Sign-App-server.csproj.nuget.g.props
obj/Sign-App-server.csproj.nuget.dgspec.json
obj/project.assets.json
bin/Debug/net8.0/Sign-App-server.deps.json
obj/Debug/net8.0/Sign-App-server.assets.cache
obj/Debug/net8.0/Sign-App-server.csproj.AssemblyReference.cache
obj/Debug/net8.0/Sign-App-server.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/Sign-App-server.csproj.FileListAbsolute.txt
obj/Debug/net8.0/Sign-App-server.dll
obj/Debug/net8.0/Sign-App-server.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/Sign-App-server.genruntimeconfig.cache
obj/Debug/net8.0/Sign-App-server.pdb
obj/Debug/net8.0/Sign-App-server.sourcelink.json
obj/Debug/net8.0/ref/Sign-App-server.dll
obj/Debug/net8.0/refint/Sign-App-server.dll
obj/Debug/net8.0/Sign-App-server.AssemblyInfo.cs
obj/Debug/net8.0/Sign-App-server.AssemblyInfoInputs.cache
obj/Debug/net8.0/Sign-App-server.AssemblyInfoInputs.cache
obj/Debug/net8.0/Sign-App-server.AssemblyInfo.cs
